

body{
	background-color:green;
	font-family:Brush Script MT, Brush Script Std, cursive;
	color:red;
}

header {
	text-align: center;
	font-size: 100px;
	background-color: blue;
}

.container{
	color: white;
	font-family: Times New Roman, Georgia, Garamond;
}